h1{color: rgb(3, 3, 3);
    font-family: 'Times New Roman', Times, serif;
    background-color:white;
    font: size 8000pxs;
    opacity: 0.3;text-align: center;text-decoration: underline;
    font:xx-large;
flex-direction: column-reverse;}
body{background-image:url(pyramids.jfif);
    background-repeat: no-repeat;
  }
  
            
                
h2{color: deeppink;
    float: inline-start;font-family: fantasy;
    font-size: large;
  }
ul{color: rgb(10, 6, 6);font-weight:500;
    font-size: large;       
  }
ol{color: rgb(5, 2, 2);
    font-weight:400;
    font-size: large;
  }
ul li{list-style-type:disc;font: 500;
    color: rgb(19, 10, 12);
  }
ol li{list-style-type: upper-roman;
    color: darkblue;}
.country{color: crimson;}
div table{border-color: darkgreen;
    cursor: pointer;
    cursor: auto;
    border-style: double;
    border-width: inherit;
    display: flexbox;
    flex-direction: initial;
    flex-flow: initial;
    margin:auto ;
    width: fit-content;
    float: left;
    font-size: x-large;
    height: fit-content;
    color: rgb(50, 17, 168);
    border-top: blue;
    border-bottom: blue;
    border-left: brown;
    border-right: brown;}
div{font-family: 'Times New Roman', Times, serif;
    font-size:large ;
    font-weight: 500;
    color:rgb(10, 10, 9);
    font-style: oblique;
  }
#history{color: blue;
font-size: x-large;}
